.details {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

img {
  margin-left: 0;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.btn-details {
  background-color: brown;
  border-color: brown;
  bottom: 0;
  padding: 0.375rem 200px;
  position: fixed;
  text-align: center;
}

.details-header {
  display: flex;
  justify-content: space-between;
}

.details-header .btns-share-fav {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: right;
}

.details-header .btns-share-fav .btn-share, .btn-fav {
  background-color: transparent;
  border: none;
  margin: 2px;
  margin-top: 4px;
}

.details-header h1 {
  font-size: 30px;
  margin-bottom: 0;
}

.details h3 {
  color: darkgray;
  font-family: Roboto , sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 0;
  text-align: left;
}

.details h2 {
  font-family: Roboto , sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 30px;
}

.details p {
  background-color: gainsboro;
  border-radius: 16px;
  margin: 5px;
  padding: 15px;
}

.details .ingredients-card {
  background-color: gainsboro;
  border-radius: 16px;
  margin: 5px;
}

.details .video {
  background-color: gainsboro;
  border-radius: 16px;
  margin: 5px;
}

.details iframe {
  background-color: gainsboro;
  border-radius: 16px;
  padding: 10px;
}

.recomendation-container {
  color: black;
  display: flex;
  margin-bottom: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.card-recomendation {
  background-color: gainsboro;
  border-radius: 16px;
  flex: none;
  height: 220px;
  margin: 5px;
  padding: 10px;
  width: 180px;
}

.card-recomendation .image-recomendation {
  object-fit: cover;
  width: 100%;
}

.card-recomendation h4, h5 {
  color: black;
  font-size: 20px;
  margin: 0;
}

.card-recomendation h5 {
  font-size: 15px;
}

