.search-btn {
  background: none;
  border: none;
}

.search-input {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
  width: 350px;
}

.header-search label {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-search span {
  margin-left: 5px;
}

.radio-inputs {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
