.footerConteiner {
  background-color: gray;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
}
