.footerConteiner {
  bottom: 0;
  background-color: gray;
  color: white;
  display: flex;
  height: 60px;
  justify-content: space-between;
  line-height: 50px;
  position: absolute;
  width: 100%;
  text-align: center;
}
