body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.in-progress-checkboxs {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.in-progress-checkboxs label {
  margin: 0 5px;
}
.recipe-done-image{
width: 200px;
}
.main-container{
  background-image: url(./images/backGroundImg.jpeg);
  width: 100%;
  min-height: 100vh;
  margin-bottom: 3.5rem;
}